.users {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.users button, .but {
    width: 70px;
    color: black;
}

.users__email {
    font-size: 0.8rem;
    color: rgb(184, 95, 95);
}
.users__address {
    font-size: 0.9rem;
    color: rgb(240, 144, 144);
}
.users__phone {
    font-size: 0.75rem;
    color: rgb(250, 184, 184);
}
.users__company {
    font-size: 0.8rem;
    color: rgb(253, 221, 221);
}