.post{
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
    margin-bottom: 10px;
}
.postBody{
    font-size: 1rem;
    color: rgb(240, 144, 144);
}
.buttonDelete{
    width: 80px;
    margin-bottom: 50px;
    padding: 3px;
    background: red;
    color: white;
}