.post{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
}
.postBody{
    font-size: 1rem;
    color: rgb(240, 144, 144);
}