.main {
    grid-area: main;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(96, 96, 196), rgb(8, 8, 102));
    padding: 20px;
    box-shadow: 5px 5px 7px -2px rgb(182, 230, 120);
}

.profile {
    display: flex;
    align-items: flex-start;
}

.main__avatar {
    width: 150px;
    height: 150px;
    margin-right: 50px;
    border: 3px solid blue;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px rgb(182, 230, 120);
}

.profile__status, .profile__info {
    display: block;
    margin-top: 20px;
}

.profile__status {
    font-size: 0.8rem;
    color: rgb(163, 134, 134);
}

.profile__info {
    font-size: 0.9rem;
    color: rgb(240, 144, 144)
}