
html{
    font-size: 16px;
 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(239, 239, 243);
    font-family: 'Ubuntu', sans-serif;
    
}
body{
    padding: 10px 10vw;
    font-size: 1.2rem;
    background: rgb(0, 0, 10);
   
} 
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
.app-wrapper {
    width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header header' 'nav main';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
.post__input{
    color: rgb(49, 40, 40);
    padding: 5px;
    cursor: pointer;
}
.m-bott{
    margin-bottom: 10px;
}